body {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    margin: 5px;
}

button {
    margin: 5px;
    width: 2.5em;
    font-weight: bolder;
}

.label {
    font-weight: bold;
    margin-top: 20px;
}

.jumbotron {
    text-align: center;
    font-weight: bold;
    background-color: #FFCC57;
}


#equation {
    font-size: 32px;
}

#result {
    font-weight: bold;
}